.spe {
  width: 60px;
  height: 60px;
}

.tabs_body {
  width: 100%;
  padding: 5px 0;
  align-items: center;
  justify-content: center;
  min-height: 200px;
  margin-bottom: 47px;
  background: #fff;
  position: relative;
}

.tabs_body section {
  width: 100%;
  padding: 12px 4px;
  overflow: hidden;
  background: #fff;
}

.tabs_body section span {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tabs_body .tabs_item_label {
  width: 30%;
}

.tabs_body .tabs_item_text {
  font-weight: bold;
  color: rgba(0, 0, 0, .65);
}

.list_bottom {
  width: 100%;
  background: #fff;
  height: 47px;
  position: fixed;
  top: calc(100% - 47px);
  border: 1px solid #e8e8e8;
}

.list_bottom .right {
  float: right;
  width: 30%;
  text-align: right;
}

.messageInfo {
  width: 100%;
  display: flex;
  overflow: hidden;
  padding: 10px 0;
  justify-content: center;
  margin-top: 100px;
}

.result {
  height: calc(100vh - 51px);
}