.card_item {
  display: flex;
  justify-content: space-between;
}

.card_item_label {
  width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.modalImage {
  width: 300px;
}

.repair_tag_wrapper {
  margin-left: 10px;
  font-size: 12px;
  padding: 3px 6px;
  color: #fff;
  background: #73d13d;
}

.repair_detail_label {
  width: 100px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: top;
}